@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body{
    height: 100%;
    width: 100vw;
    background:linear-gradient(50deg, #000000,#000005,#6d1a7a,#6d1a7c);
}

header {
    background-color: antiquewhite;
    width: 99vw;
    height: 10vh;
    box-sizing: border-box;
    opacity: 0.6;
}

header > img {
    display: inline;
    width: 4vw;
    height: 10vh;
    margin-left: 5px;
    margin-bottom: -40px;
    filter: drop-shadow(0 0 0rem black);
    
}

header > h1 {
    margin-top: -30px;
    margin-bottom: 15px;
    text-align: center;
    color: #07FEF7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

nav {
    width: 99vw;
    height: 4vh;
    background-color: antiquewhite;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    opacity: 0.6;
}

nav > a {
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-inline: 1em;
    transition-duration: .5s;
}

nav > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width .5s ease-in-out;
}

nav > a:hover::after{
    width: 100%;
}


/* Fim do cabeçalho */

/* Início do Menu */
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    background-color: antiquewhite;
    opacity: 0.6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bv {
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 850px;
    padding: 10px;
    color: white;
    background-color: #000;
    box-shadow: 0px 0px 5px purple;
}

.bv > h1 {
    font-size: 2em;
}

.bv > p {
    text-decoration: underline;
}

.bv > p > strong {
    font-size: 1.5em;
    text-decoration: none;
}


#tec, #gup ,#dp {
    visibility: hidden;
}

main > h1 {
    border: 1px solid black;
    width: 500px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(50deg, #000000,#000005,#6d1a7a,#6d1a7c);
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.438);
}

main > h2 {
    color: purple;
    text-shadow: 1px 1px 3px rgba(63, 62, 62, 0.384);
}

main > h3 {
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

main > p {
    text-align: justify;
    line-height: 1.3em;
}

.tbs {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

th,td {
    border: 1px solid black;
    padding: 10px;
}

main > aside { 
    display: block;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    text-align: justify;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 130px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease-in;
    cursor: context-menu;
}

main > aside > h3 {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

main > h2.versus {
    display: block;
    text-align: center;
    margin-top: -150px;
    font-size: 5em;
}

main > aside.fe { 
    margin-left: 130px;
}

main > aside:hover {
    transform: scale(1.1);
}

main > aside.be {
    margin-left: 650px;
    margin-top: -180px;
  }

ul {
    list-style-type: none;
}

ul > li > a {
    text-decoration: none;
    color: #000;

}

ul > li > a:hover {
    text-decoration: underline;
    color: #6d1a7a;
    border: 1px solid black;
    border-radius: 10px;
}

/* início do footer */

footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: block;
    background-color: antiquewhite;
    width: 50vw;
    padding: 10px;
    margin: auto;
    margin-bottom: 5px;
    opacity: 0.6;
    border-radius: 15px;
}

/* Botão de subir, estilo */
.back-to-top {
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .back-to-top:hover {
    transform: scale(1.1);
  }

.scroll-progress {
    position: fixed;
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #07FEF7;
    animation: scroll-progress linear;
    animation-timeline: scroll();
    border-radius: 1em;
 }

 @keyframes scroll-progress {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
 }


 @media (max-width: 768px) {
    /* Ajustes gerais */
    body, html {
      width: 95vw;
    }
  
    /* Ajustes no header */
    header {
      margin: 15px;
      padding: 15px;
      background-color: transparent;
    }
  
    header > h1 {
      margin-left: -20px;
    }
  
    header > img {
      display: none;
    }
  
    /* Ajustes no nav */
    nav {
      display: none;
    }
  
    /* Ajustes no main */
    main {
      display: block;
      margin: auto;
      margin-top: -25px;
      border-radius: 15px;
      width: 400px;
      height: 140%;
    }
  
    /* Ajustes no bloco bv */
    .bv {
      display: block;
      margin: auto;
      text-align: center;
      border: 1px solid black;
      border-radius: 15px;
      width: 370px;
      height: 150px;
      padding: 10px;
      color: white;
      background-color: #000;
      box-shadow: 0px 0px 5px purple;
    }
  
    .bv > h1 {
      font-size: 2em;
    }
  
    .bv > p {
      text-decoration: underline;
    }
  
    .bv > p > strong {
      font-size: 1.5em;
    }
  
    /* Ajustes nos títulos do main */
    main > h1 {
      width: 400px;
      margin-left: -5px;
    }
  
    main > h2 {
      text-align: center;
      border: 1px solid black;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
    }
  
    /* Ajustes no versus */
    .versus {
      border: none;
      visibility: hidden;
    }
  
    /* Ajustes nos asides */
    main > aside {
      width: 250px;
      height: 150px;
    }
  
    main > aside.fe {
      margin-block: 1em;
      margin: auto;
    }
  
    main > aside.be {
      margin: auto;
      margin-block: 4em;
      margin-bottom: 12px;
    }
  
    /* Ajustes no footer */
    footer {
      width: 400px;
      margin-top: 5px;
    }
  }